@import "~@blueprintjs/core/lib/scss/variables";

.home :global(.bp3-collapse) {
    height: 0;
    opacity: 1;
    overflow-y: hidden;
    transition: height 400ms ease, opacity 400ms ease;
}

.joinGame {
    text-align: center;
}

.fadeCollapse {
    opacity: 0;
}

.form {
    width: 30 * $pt-grid-size;
}

.actionButton {
    display: flex;
}

.create {
    font-size: $pt-font-size;
    display: flex;
    align-items: center;
    margin-top: 2 * $pt-grid-size;
}
