@import "~@blueprintjs/core/lib/scss/variables";

.joinGame {
    text-align: center;
}

.fadeCollapse {
    opacity: 0;
}

.body {
    background-image: url(../../resources/background.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    :global(.bp3-collapse) {
        height: 0;
        opacity: 1;
        overflow-y: hidden;
        transition: height 400ms ease, opacity 400ms ease;
    }
}

.form {
    width: 30 * $pt-grid-size;
}

.actionButton {
    display: flex;
}

.create {
    font-size: $pt-font-size;
    display: flex;
    align-items: center;
    margin-top: 2 * $pt-grid-size;
}
