@import "~@blueprintjs/core/lib/scss/variables";

.joinGame {
    text-align: center;
}

.body {
    background-image: url(../../resources/background.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.form {
    width: 30 * $pt-grid-size;
}

.join {
    display: flex;
}

.create {
    font-size: $pt-font-size;
    display: flex;
    align-items: center;
    margin-top: 2 * $pt-grid-size;
}
