@import "~@blueprintjs/core/lib/scss/variables";

.roleRow {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        border-bottom: 1px solid $pt-dark-divider-white;
    }
}

.role {
    height: 5 * $pt-grid-size;
    display: flex;
    align-items: center;
    padding: $pt-grid-size;
    justify-content: space-between;

    .roleName {
        display: flex;
        align-items: center;
    }

    .infoIcon {
        color: $gray1;
        margin-left: $pt-grid-size;
    }
}

.roleCount {
    width: 15 * $pt-grid-size;
}

.configurationError, .roleWarning {
    display: flex;
    align-items: center;

    :global(.#{$ns}-icon) {
        margin-right: $pt-grid-size / 2;
    }

    .error {
        color: $red5;
    }

    .warning {
        color: $orange5;
    }
}

.roleWarning {
    margin-bottom: $pt-grid-size;
}

.addRole, .dndHelper, .playerOrderWarning, .configurationContent {
    margin: $pt-grid-size 0;
}

.configurationError, .startGameButton {
    margin-top: $pt-grid-size;
}

.warning {
    color: $orange5;
}

.warningIcon {
    margin-right: $pt-grid-size / 2;
    margin-bottom: $pt-grid-size / 5;
}

.roleCountInfoTooltip {
    padding: $pt-grid-size / 2 $pt-grid-size;
}
