.body {
    background-image: url(../../resources/background.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
