@import "~@blueprintjs/core/lib/scss/variables";

.configurationHeader {
    margin-top: 2 * $pt-grid-size;
}

.role {
    display: flex;
    align-items: center;
    padding: $pt-grid-size;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid $pt-dark-divider-white;
    }
}
