@import "~@blueprintjs/core/lib/scss/variables";

.player {
    display: flex;
    align-items: center;
    padding: $pt-grid-size;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid $pt-dark-divider-white;
    }

    .playerElement:not(:last-child) {
        margin-right: 5px;
    }

    .you {
        color: $green3;
    }

    .hideStatus {
        opacity: 0;
    }
}
